<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently getting my 
      <a class="underline-link" href="https://ieor.columbia.edu/operations-research-msor" target="_blank">Master's in Operations Research </a> at Columbia University, 
     focusing primarily on mathematical modeling, machine learning, and data science. I'm interested in using these tools to
      solve complex, data-driven problems across various applications such as in transportation and healthcare.
    </p>
    <p>
      Previously, I was a Systems Engineer at <b>Boeing</b>
      working on future airplane production system design and development after having graduated from <b>Georgia Tech</b>
      with an Industrial Engineering degree. Working in the aerospace industry strengthened my interest in analytical problem solving and motivated me to move towards
      a more data driven field of work. As a result, I decided to pursue graduate school in order to deepen my technical skills in optimization and data science! 

    <!-- {% include employment-status.html %} -->
  </div>
</section>
