<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently getting my 
      <a class="underline-link" href="https://ieor.columbia.edu/operations-research-msor" target="_blank">Master's in Operations Research </a> at Columbia University, focusing primarily on optimization and data science. 
      I'm interested in applying these tools to solve complex, data-driven problems in areas such as transportation and healthcare.
    </p>
    <p>
      Previously, I was a Systems Engineer at <a class="underline-link" href="https://www.boeing.com/commercial" target="_blank">Boeing</a>
      where I worked on future airplane production system design and development after graduating from <a class="underline-link" href="https://www.isye.gatech.edu/" target="_blank">Georgia Tech</a>
      with a degree in Industrial Engineering. My experience in the aerospace industry strengthened my interest in analytical problem solving and motivated me to build on my undergraduate background to
      tackle challenging data-driven problems. This realization is what led me to pursue graduate school to deepen my technical skills in these areas. 

    <!-- {% include employment-status.html %} -->
  </div>
</section>
